/*
font-family: 'Roboto', sans-serif;
font-family: 'Mountains of Christmas', cursive;
font-family: 'Work Sans', sans-serif;
font-family: 'Alike Angular', serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border-radius: 10px;
}

.heading-3 {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 3rem;
}

.body-copy {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 3rem;

}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.logo-title img {
  margin-right: 1.2rem;
}

.nav-cta {
  color: white;
  background: #dd3232;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  transition: all .3s;
}

.nav-cta:hover {
  background-color: rgb(221, 50, 50);
  color: white;
  background: #329036;
  padding: 1.2rem;
}

header {
  height: 70vh;
  display: flex;
}

.headline {
  font-family: 'Alike Angular', serif;
  font-size: 2rem;
  background: #329036;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  color: rgb(227, 227, 227);
  text-align: center;
  letter-spacing: 1px;
}

.headline img {
  width: 60%;
  margin-top: 1rem;
}

.header-img {
  width: 55vw;
  background: url("assets/uglysweater.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 20rem;
  /* background: linear-gradient(
      rgba(222, 222, 222, 0.4),
      rgba(222, 222, 222, 0.4)),
      url("assets/snow.jpeg");
  background-position: center;
  background-size: contain; */
}

.main img {
  width: 75rem;
}

.main-content {
  padding: 0 5rem;
  text-align: center;
}

.main-content h3 {
  margin-top: 2rem;
}

.main-content p {
  line-height: 2.2rem;
  margin: 1.5rem 0 4rem 0;
}

.main-content a {
  font-size: 1.8rem;
  color: white;
  background: #dd3232;
  padding: 1.2rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all .2s;
}

.main-content a:hover {
  background: #329036;
  padding: 1.4rem 2.2rem;
}

.videos {
  margin: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10rem;
}

.videos img {
  height: 30rem;
  width: 45rem;
}

.troops {
  background:
  linear-gradient(
    rgba(255, 0, 0, 0.60),
    rgba(255, 0, 0, 0.60)),
  url("assets/Camo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 10rem;

}

.troops h3 {
  font-size: 3.5rem
}

.troops img {
  width: 15rem;
}

.corp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14rem 20rem;
  text-align: center;
  background: linear-gradient(
      rgba(215, 215, 215, 0.4),
      rgba(215, 215, 215, 0.4)),
      url("assets/christmas-wallpaper-backgrounds-42743880.jpg");
  background-position: center;
  background-size: cover;
}

.corp img {
  height: 30rem;
  margin-right: 5rem;
}

.corp-content h3 {
  margin-bottom: 4rem;
}

.corp-content a {
  font-size: 1.8rem;
  color: white;
  background: #dd3232;
  padding: 1.2rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all .2s;
}

.corp-content a:hover {
  background: #329036;
  padding: 1.4rem 2.2rem;
}

.lazy {
  background: #329036;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 15rem;
}

.lazy-content {
  text-align: center;
}

.lazy-content h3 {
  margin-bottom: 3rem;
  color: white;
  font-family: 'Alike Angular', serif;
}

.lazy-content a {
  font-size: 1.8rem;
  color: black;
  background: #ffffff;
  padding: 1.2rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all .2s;
}

.lazy-content a:hover {
  background: #dd3232;
  padding: 1.4rem 2.2rem;
  color: white;
}

.lazy img {
    width: 15rem;
}

footer {
  background: linear-gradient(
      rgba(215, 215, 215, 0.1),
      rgba(215, 215, 215, 0.1)),
      url("assets/xmas-white-backgrounds-wallpapers.jpg");
  background-position: center;
  background-size: cover;
  padding: 4rem;
}

.footer-copy {
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Mountains of Christmas', cursive;
  color: rgb(61, 61, 61)
}
